# Ignore the venv folder - this is a separate Python installation containing only
# the dependencies needed for this project.
venv/

# Ignore saved models.
*.pt
*.pth

# Ignore saved plots.
*.png

# Ignore log files.
logs/

# Ignore generated training data.
*.yaml
# Don't ignore configs.
!*config.yaml

*/wandb/
wandb/

# Ignore saved models
irlco/routing/saved_models/

# Ignore pycharm config
.idea/

# Ignore pycache
__pycache__/

# Pickled files
*.pkl
irlco/sorting/__pycache__/__init__.cpython-37.pyc
*.pyc
*.pyc
*.pyc
