# Ignore the venv folder - this is a separate Python installation containing only
# the dependencies needed for this project.
venv/

# Ignore saved models.
*.pt
*.pth

# Ignore saved plots.
*.png

# Ignore log files.
logs/

# Ignore generated training data.
*.yaml
# Don't ignore configs.
!*config.yaml

wandb/